{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid"></div>
    <div class="row my-3">
        <div class="col-md-7">
         <img class="img-fluid p-5" src="{% static 'images/company_name.jpg' %}">

        </div>
    </div>
    </div>

        <div class="container">
            <div class="row">
        <div class="col-md-10 ">
         <h3> Bank with us</h3>
         <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum, commodi animi assumenda odit dolore sed molestias nisi tempora delectus voluptatem?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis debitis accusamus ipsa praesentium nulla dolore mollitia ab facere saepe expedita.</p>
        </div>
    </div>
        </div>
    </div>
</div>
{% endblock content %}