{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row my-3">
        <div class="col-md-7">
         <img class="img-fluid p-5" src="{% static 'images/company_name.jpg' %}">

        </div>

        <div class="col-md-5 p-5">
         <h3 class="mt-5"> Bank with us</h3>
         <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum, commodi animi assumenda odit dolore sed molestias nisi tempora delectus voluptatem?</p>
        </div>

        </div>
    </div>




{% endblock content %}